<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.12/css/aui.min.css" media="all">
     <link rel="stylesheet" href="/css/github-app.css" media="all">
    <script src="<%= session[:fqdn] %>/atlassian-connect/all.js"></script>
  </head>
   <body>
      <div class="ac-content">
        <div class="github-dev-panel">
          <div class="aui-message aui-message-warning">
            Please link JIRA with your GitHub account: <a href="<%= @url %> " target="_blank">authorization link</a>
          </div>
          <p><a href="/logout">clear settings</a></p>
        </div>
      </div>
   </body>
</html>
