<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.12/css/aui.min.css" media="all">
    <script src="<%= $fqdn %>/atlassian-connect/all.js"></script>
  </head>
   <body>
      <div class="ac-content">
        <div class="aui-message aui-message-info">
              <a href="/create_branch">Create a branch in <%= @repo_name %></a></br>
        </div>
        <a href="/logout">clear settings</a>
      </div>
   </body>
</html>
