<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.12/css/aui.min.css" media="all">
    <link rel="stylesheet" href="/css/github-app.css" media="all">
    <script>
      var oauthWindow;
      function doAuthorization() {
        var left =
            window.screenX + (window.outerWidth / 2) - (this._popupWidth / 2);
        var top =
            window.screenY + (window.outerHeight / 2) - (this._popupHeight / 2);
        var windowFeatures = 'width=' + this._popupWidth +
            ',height=' + this._popupHeight +
            ',top=' + top +
            ',left=' + left +
            ',location=no,toolbar=no,menubar=no';
        oauthWindow = window.open("<%= @url %>", this.WINDOW_NAME, windowFeatures);
        return false;
      }
      function popupCloseNotification() {
        window.setTimeout(function() {
          if (oauthWindow.closed) {
            window.location.replace("/");
          }
        }, 1);
      }
    </script> 
    <script src="<%= session[:fqdn] %>/atlassian-connect/all.js"></script>
    <title>GitHub Branch Selector</title>
</head>
   <body>
      <div class="ac-content">
        <div class="github-dev-panel">
        <p class="title">
            Please link JIRA with your GitHub account: <a href="javascript:doAuthorization()" id="github-authorization">Connect to GitHub</a>
        </p>
        <p><a href="/logout">clear settings</a></p>
        </div>
      </div>
   </body>
</html>
