<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.12/css/aui.min.css" media="all">
    <script src="<%= $fqdn %>/atlassian-connect/all.js"></script>
  </head>
   <body>
      <div class="ac-content">
        <div class="aui-message aui-message-info">
              Thank you for installing GitHub App Plugin for JIRA. Please return to a JIRA ticket to create a branch.
        </div>
        <a href="/logout">clear settings</a>
      </div>
   </body>
</html>
